ul{
    width: 40rem;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: rgb(153, 63, 255);
    padding: 1rem;
    list-style-type: none;
    li{
        background-color: rgb(62, 0, 121);
        border-radius: .5rem;
        margin: 1rem 0;
        padding: 1rem;
        color: #fff;
        display: flex;
        justify-content: space-between;
        .details{
            h3{
                font-weight: 700;
            }
            p{
                font-size: 90%;
                font-weight: 600;
            }
        }
        .controls{
            display: flex;
            column-gap: .5rem;
            button{
                padding: .2rem;
                color: #fff;
                border: none;
                font-size: .8rem;
                outline: none;
                width: 5rem;
                height: 2rem;
                cursor: pointer;
                font-weight: 700;
                border-radius: .5rem;
                background-color: rgb(80, 1, 76);
            }
        }
    }
}
